<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ExampleSuite" parallel="methods" thread-count="5" >

    <parameter name="username" value="users9"></parameter>            
	<parameter name="Email" value="dasdasdas@gmail.com"></parameter>

    <parameter name="logoutEmail" value="dasdasdas@gmail.com"></parameter>    
	<parameter name="logoutPassword" value="Tester"></parameter>

    <parameter name="loginEmail" value="edrfedrfed@gmail.com"></parameter>   
	<parameter name="loginPassword" value="userfdsname2"></parameter>

        <listeners>
		<listener class-name="listeners.TestListeners"></listener>
	    </listeners>
	    
	    <test thread-count="5" name="Test">
	  	<parameter name ="os" value="Windows"/>
	  	<parameter name="browser" value="chrome"/>	
	
	    <classes>
	    
	    
	        <class name="tests.RegisterUserTest"/>
			<class name="tests.LoginWithCorrectDetails"/>
			<class name="tests.LoginWithIncorrectDetails"/>
			<class name="tests.LogoutTest"/>
			<class name="tests.RegisterWithExistingTest"/>
			<class name="tests.ContactUsFormTest"/>
			<class name="tests.VerifyTestCaseTest"/>
			<class name="tests.AllProductDetails"/>
			<class name="tests.SearchProductTest"/>   
			<class name="tests.SubscriptionInHomePageTest"/>
			
			
			
			
			
			
		</classes>
	</test>
	

</suite>
